@import "font.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "atropos/atropos.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [x-cloak] {
        display: none !important;
    }

    html {
        scroll-behavior: smooth;
        color-scheme: light !important;
    }

    /*   Open state of the dialog  */
    /*   Open state of the dialog  */
    dialog[open] {
        opacity: 1;
        transform: scale(1) translateY(0rem);
    }

    /*   Closed state of the dialog   */
    dialog {
        opacity: 0;
        transform: scale(0.95);
        transition:
            opacity 0.3s ease-in-out,
            transform 0.3s ease-in-out,
            overlay 0.3s ease-in-out allow-discrete,
            display 0.3s ease-in-out allow-discrete;
        /* Equivalent to
    transition: all 0.3s allow-discrete; */
    }

    /*   Before-open state  */
    /* Needs to be after the previous dialog[open] rule to take effect,
      as the specificity is the same */
    @starting-style {
        dialog[open] {
            opacity: 0;
            transform: scale(0.95) translateY(1rem);
        }
    }

    /* Transition the :backdrop when the dialog modal is promoted to the top layer */
    dialog::backdrop {
        background-color: rgb(0 0 0 / 0%);
        transition:
            display 0.3s allow-discrete,
            overlay 0.3s allow-discrete,
            background-color 0.3s;
        /* Equivalent to
    transition: all 0.3s allow-discrete; */
    }

    dialog[open]::backdrop {
        background-color: rgb(0 0 0 / 25%);
    }

    /* This starting-style rule cannot be nested inside the above selector
  because the nesting selector cannot represent pseudo-elements. */

    @starting-style {
        dialog[open]::backdrop {
            background-color: rgb(0 0 0 / 0%);
        }
    }

    .prose p[style*="text-align: center;"] img {
        @apply mx-auto;
    }
}

@layer components {
    .font-cedea {
        @apply font-montserrat font-semibold;
    }

    .font-title {
        @apply font-androgyne;
    }

    /* Base layout Component */
    /*?
    :before = ribbon point
    :after = ribbon line
    */
    .gyatt-ribbon {
        @apply before:absolute before:rotate-45 before:rounded-sm before:border-4 before:border-white before:bg-cedea-red after:absolute after:border-y-4 after:border-white after:bg-cedea-red before:~min-[20rem]/sm:~top-[2.3rem]/[4.35rem] before:~min-[20rem]/sm:~left-[3.2rem]/[6.3rem] before:~min-[20rem]/sm:~size-[0.65rem]/[2.3rem] after:~min-[20rem]/sm:~top-9/16 after:~min-[20rem]/sm:~left-6/20 after:~min-[20rem]/sm:~h-3/[3rem] after:~min-[20rem]/sm:~w-8/10 before:sm:rounded-md before:[&:last-child]:hidden after:[&:last-child]:hidden;
    }

    @media screen(sm) {
        .gyatt-ribbon {
            @apply before:absolute before:rounded-lg before:border-8 after:border-y-8 before:sm:~top-[2.75rem]/[6.7rem] before:sm:~left-[5.7rem]/[14.7rem] before:sm:~size-10/[4.6rem] after:sm:~top-10/24 after:sm:~left-14/20 after:sm:~h-12/[6.1rem] after:sm:~w-14/48;
        }
    }

    .section-title {
        @apply font-title text-cedea-red-dark ~text-2xl/5xl ~mb-2/10;
    }

    #recipe-swiper {
        /* :root { */
        /*
            --swiper-navigation-size: 22px;
            --swiper-navigation-top-offset: 50%;
            --swiper-navigation-color: var(--swiper-theme-color);
            --swiper-navigation-color: #ffffff;
            */
        /* } */

        .swiper-slide {
            height: auto;
            flex-direction: column;
            align-items: flex-end;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: bottom;
            }
        }

        .swiper-button-next {
            --swiper-navigation-top-offset: 70%;
            --swiper-navigation-sides-offset: 50px;
            @apply z-10 rounded-full bg-cedea-red text-white ~size-4/8 ~p-4/8 after:content-['next'] after:~text-xl/4xl;
        }

        @media screen(sm) {
            .swiper-button-next {
                --swiper-navigation-sides-offset: 150px;
            }
        }
    }

    .visi-misi-gradient {
        @apply bg-gradient-to-r from-white to-[#E6E7E8];
    }

    .grid-overlay {
        @apply [&>*]:col-start-1 [&>*]:row-start-1;
    }

    .contact-form-wrapper > div:has(:is(input, textarea, select)) {
        @apply flex flex-col;

        > :is(input, textarea, select) {
            &[type="date"] {
                position: relative;
            }

            &[type="date"]::-webkit-calendar-picker-indicator {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                padding: 0;
                color: transparent;
                background: transparent;
            }
            @apply border-2 border-gray-500/50 py-1 pl-4 font-normal text-black placeholder:text-gray-500/50;
        }
    }

    figure.polaroid {
        @apply rotate-6 bg-[#eaeaea] p-3;

        img {
            @apply h-full w-full;
        }

        figcaption {
            @apply -rotate-6 pt-6;
        }

        &::before,
        &::after {
            content: "";
            @apply absolute h-[12%] w-[45%] -rotate-[40deg] bg-[rgba(142,142,142,0.6)];
        }

        &::before {
            @apply left-[-30px] top-[3px];
        }

        &::after {
            @apply bottom-[3px] right-[-30px];
        }
    }
}

@layer utilities {
    .text-last-center {
        text-align-last: center;
    }

    .header-padding-safe-area {
        @apply ~pt-14/28;
    }

    .header-padding-safe-area-b {
        @apply ~pb-14/28;
    }
}
