@import "font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [x-cloak] {
        display: none !important;
    }

    html {
        scroll-behavior: smooth;
    }
}

@layer components {
    /* Base layout Component */
    .gyatt-ribbon {
        @apply after:absolute before:border-white before:bg-cedea-red after:border-y-2 before:border-2 before:rotate-45 before:rounded-md  after:border-white after:bg-cedea-red before:[&:last-child]:hidden after:[&:last-child]:hidden

        before:~min-[20rem]/sm:~size-[0.9rem]/[2.4rem] before:absolute before:~min-[20rem]/sm:~left-[3rem]/[6.2rem] before:~min-[20rem]/sm:~top-[1.8rem]/[4.3rem]

        after:~min-[20rem]/sm:~left-6/20 after:~min-[20rem]/sm:~top-7/16 after:~min-[20rem]/sm:~h-4/[3rem] after:~min-[20rem]/sm:~w-8/10;
    }

    .slider-item-desktop {
        @apply mx-auto hidden h-full w-full object-cover object-top lg:block;
    }

    @media screen(sm) {
        .gyatt-ribbon {
            @apply after:border-y-8 before:border-8 before:rounded-lg

            before:sm:~size-10/[4.6rem] before:absolute before:sm:~left-[5.7rem]/[14.7rem] before:sm:~top-[2.8rem]/[6.7rem]

            after:sm:~left-14/20 after:sm:~top-10/24 after:sm:~h-12/[6.1rem] after:sm:~w-14/48;
        }
    }

    .section-title {
        @apply font-androgyne text-cedea-red ~text-2xl/5xl ~mb-2/10;
    }
}

@layer utilities {
    .text-last-center {
        text-align-last: center;
    }
}
