@font-face {
    font-family: "Androgyne";
    src: url("../assets/fonts/AndrogyneMedium.woff2") format("woff2"),
        url("../assets/fonts/AndrogyneMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
